/*list of variables*/
/*------------------------------------*/
/*fonts*/
$font-primary: 'Georgia, "Times New Roman", Times, Baskerville, Georgia, serif';
$line-height: 1.8rem;

/*------------------------------------*/
/*colors*/
$color-main: #e2dcfd;
$color-hover: #72c2f4;